#!/usr/bin/env python
# encoding: utf-8

class Config():
    DEBUG = False
    TESTING = False

    def __init__(self, app):
        self.app = app

class ProductionConfig(Config):
    pass

class DevelopmentConfig(Config):
    DEBUG = True

class TestingConfig(Config):
    TESTING = True
