{% extends 'base.html' %}

{% macro input(name, placeholder="") %}
<input type="text" name="{{ name }}" placeholder="{{ placeholder }}" />
{% endmacro %}

{% block title %}
Test
{% endblock %}

{% block content %}
<ul>
    <li>String: {{ string_var }}</li>
    <li>Integer: {{ integer_var }}</li>
    <li>Float: {{ float_var }}</li>
</ul>

<h3>List</h3>
<ul>
    {% for item in list_var %}
    <li>{{ item }}</li>
    {% endfor %}
</ul>

<h3>Dict</h3>
<ul>
    {% for key, value in dict_var.items() %}
    <li>{{ key }}: {{ value }}</li>
    {% endfor %}
</ul>
<h3>Macro</h3>
{{ input("input1") }} </br>
{{ input("input2", placeholder="input2") }} </br>
{% endblock %}